# для файлов без расширений, т.е для исполняемых вайлов в linux
*
!*.*
!*/

# для windows
*.exe

*~
build*/
Android/android/
libs/
notApp/

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.autosave
resources/minimal-media-player-icons.jpg

# Для стронних библиотек
*.so.*

# Файлы убунту
.fuse_hidden*

